body {
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-default .navbar-nav>li>a:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-default .navbar-nav>li>.a:target {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-default .navbar-nav>li>.a:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  margin-bottom: 0;
  width: 100%;
  color: black;
  background: dimgrey;
  border:0;
  border-bottom: 1px solid pink;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color:pink;
}

#mainContainer {
  width: 100%;
  height:600px;
  text-align: center;
  background-image: url(http://res.cloudinary.com/smfm/image/upload/v1515971442/fyfp9cq4ix5uwk3juawv.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  display: inline-block;
}

/* #mainContainer img {
    opacity: 0.5;
    filter: alpha(opacity=50);  */


/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: lightgrey;
} */

.mainView {
  padding-top: 25px;
}

.kep-login-facebook .metro .btn  {
  background-color: pink;
}

#welcome {
  color: black;
  margin: 120px 0;
  font-size: 5.0em;
}

.centered {
  margin-top: 40px;
}

td.subtotal {
  padding: 20px 12px !important;
  text-align: right;
}
td.words {
  padding: 20px 12px !important;
}

td.numbers {
  text-align: right !important;
  padding: 20px 12px !important;
}

td.td-btn {
  padding: 20px 12px !important;
  text-align: center !important;
}

th {
  text-align: center !important;
}
/* .fadeIn {
   transition: opacity .25s ease-in;
} */

.buyorsell {
  font-weight: bold;
  padding: 15px 20px;
  font-size: 1.2em;
  margin: 0 20px;
  width: 100px;
  background-color: pink;
}

.buyorsell:hover {
  background-color: palevioletred;
}

#closeJumbotron {
  position: absolute;
  right: 19px;
  top: 12px;
}

.jumbotron {
  position: relative;
  margin-top:25px;
  max-width:100%;
  /* background-color: whitesmoke; */
}

.jumbotron .img {
  max-width: 80%;
}
.card {
  height: 400px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 2px;
  background-color: #FAFAFA;
}
.card-block {
  padding: 20px;
  height: 100%;
}
.card-title {
  margin-top:15px;
}
.card-body {
  max-height: 140px;
  overflow: hidden;
  text-align: left;
  padding-left: 20px;
  padding-top: 0;

}
.sale-btn {
  width: 80px;
  margin: 5px;
}

h3 {
  font-weight:bold;
  margin: 5px 0;
}

h6 {
  padding:0;
}

.card-footer {
  position: relative;
  bottom: 30px;
  width: 100%;
  background: rgba(255, 192, 203, 0.2);
  padding: 5px 0;
}

.bookmark {
  height: 300px;
  font-size: 0.6em;
}

.bookmark-btn {
  width: 120px;
  margin: 10px;
}

.btn-default:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

.btn-default:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

.btn-default:target {
  outline: none !important;
  box-shadow: none !important;
}
